.overlay-window {
    height: unset;
    min-height: unset;
    max-height: unset;
}

.course-name-wrapper {
    height: 1px;
    min-height: 60px;
    background: #6ECFB0;
    border-radius: 10px;
}
.label.course-name {
    font-weight: bold;
    font-size: 26px;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.course-description {
    font-size: 18px;
}

.courses-table-data-wrapper > .objects-wrapper {
    margin-bottom: 10px;
}

.courses-table-data-wrapper > .objects-wrapper > .label {
    text-align: left;
    box-sizing: border-box;
    padding-left: 5px;
    margin-bottom: 0;
    font-size: 16px;
    margin-bottom: 5px;
    color: gray;
}

.courses-table-data-wrapper > .course-name-wrapper > .label {
    text-align: center;
    box-sizing: border-box;
    margin-bottom: 0;
    font-size: 20px;
    margin-bottom: 5px;
    color: white;
}

.classes-wrapper > .classes-table {
    display: none;
}

.classes-wrapper > .data-strip > .icon-wrapper {
    display: none;
}

.classes-wrapper > .data-strip {
    /* height: 35px; */
    margin-bottom: 10px;
}

/*  */

.class-table-data-wrapper > .class-label {
    text-align: left;
    font-size: 26px;
    font-weight: bold;
    padding-left: 5px;
}

.class-table-data-wrapper > .class-description-wrapper > .class-description-label {
    text-align: left;
    font-size: 16px;
    color: gray;
    margin-bottom: 0;
    padding-left: 5px;
}

.class-table-data-wrapper > .class-description-wrapper > .class-description-text {
    background: #f1f1f1;
}

.class-description-text > a {
    font-weight: bold;
}

@media (min-width: 1000px) {
    .courses-table-data-wrapper > .course-name-wrapper > .label {
        font-size: 24px;
    }
}