.overlay-window {
    height: unset;
    min-height: unset;
    max-height: unset;
}

.courses-table-data-wrapper > .data-strip > .icon-wrapper {
    display: none;
}

.data-wrapper > .data > .subscribe {
    margin-right: 10px;
    padding: 6px;
    font-size: 18px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    transition: none;
    float: right;
}