<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./public/CSS/style.css">
    <link rel="stylesheet" href="./public/CSS/landing/header.css">
    <link rel="stylesheet" href="./public/CSS/UI/button.css">
    <link rel="stylesheet" href="./public/CSS/landing/main-block.css">
    <link rel="stylesheet" href="./public/CSS/landing/advantages.css">
    <link rel="stylesheet" href="./public/CSS/landing/howItWorks.css">
    <link rel="stylesheet" href="./public/CSS/landing/infographic.css">
    <link rel="stylesheet" href="./public/CSS/landing/footer.css">
    <link rel="stylesheet" href="./public/CSS/landing/quick-start-window.css">
    <link rel="stylesheet" href="./public/CSS/UI/notification.css">
    <link rel="stylesheet" href="./public/CSS/UI/text-field.css">
    <link rel="stylesheet" href="./public/CSS/UI/overlay-window.css">
    <title>chinalang◀</title>
</head>
<body>
    <div class="header">
        <div class="logo">
            <!-- <div class="logo-text">
                <div class="logo-left-part">china</div>
                <div class="logo-right-part">lang</div>
            </div>
            <div class="logo-image">
                <img src="" alt="">
            </div> -->
            <img src="public/IMG/header/label.png" alt="" class="logo-label">
            <img src="public/IMG/header/logo.png" alt="" class="logo-img">
        </div>
        <div class="header-controls">
            <div class="lang-selector">
                <div class="lang-text">Язык</div>
                <div class="lang-img">
                    <img src="public/IMG/header/flags/russian_flag.png" alt="" srcset="">
                </div>
                <div class="arrow-img">
                    <img src="public/IMG/header/arrow_down.png" alt="" srcset="">
                </div>
            </div>
            <div class="button-small login">Войти</div>
            <div class="button-small contacts">Контакты</div>
        </div>
    </div>
    <div class="wrapper">
        <div class="main-block">
            <div class="main-left-part">
                <div class="main-text">Китайский язык из любого уголка земли</div>
                <div class="main-info">Удобное обучение онлайн</div>
                <div class="main-info">Новые современные методики</div>
                <div class="main-info">Профессиональные учителя из России и Китая</div>
            </div>
            <div class="main-right-part">
                <div class="button-big get-free-lesson">Бесплатный урок</div>
            </div>
        </div>
        <div class="advantages-block">
            <div class="info-graphic advantage">
                <div class="info-graphic-img">
                    <img src="public/IMG/advantages/1.png" alt="" srcset="">
                </div>
                <div class="info-graphic-label">Актуальность</div>
                <div class="info-graphic-extra">Разработанные по последним тенденциям программы обучения</div>
            </div>
            <div class="info-graphic advantage">
                <div class="info-graphic-img">
                    <img src="public/IMG/advantages/2.png" alt="" srcset="">
                </div>
                <div class="info-graphic-label">Качество</div>
                <div class="info-graphic-extra">Профессиональные преподаватели из России и Китая</div>
            </div>
            <div class="info-graphic advantage">
                <div class="info-graphic-img">
                    <img src="public/IMG/advantages/3.png" alt="" srcset="">
                </div>
                <div class="info-graphic-label">Гибкость</div>
                <div class="info-graphic-extra">Любое место и время, удобное именно для вас</div>
            </div>
            <div class="info-graphic advantage">
                <div class="info-graphic-img">
                    <img src="public/IMG/advantages/4.png" alt="" srcset="">
                </div>
                <div class="info-graphic-label">Доступность</div>
                <div class="info-graphic-extra">Цена за 1 занятие от 990 рублей</div>
            </div>
        </div>
        <div class="block how-it-works">
            <h2>Как это работает?</h2>
            <div class="infographic-wrapper">
                <div class="text-img-infographic">
                    <div class="text-side">
                        <div class="title">
                            <div>1. Запишись на бесплатный урок</div>
                        </div>
                        <div class="info">
                            <div>Подберем индивидуальный курс, соответствующий уровню знаний и вашим целям. расскажем о процессе обучения в нашей школе и выберем вам преподвателя.</div>
                        </div>
                    </div>
                    <div class="img-side">
                        <img src="public/IMG/howItWorks/1.png" alt="" srcset="">
                    </div>
                </div>
                <div class="text-img-infographic">
                    <div class="img-side">
                        <img src="public/IMG/howItWorks/2.png" alt="" srcset="">
                    </div>
                    <div class="text-side">
                        <div class="title">
                            <div>2. Составьте свое расписание</div>
                        </div>
                        <div class="info">
                            <div>Выберете подходящее для вас время. Неважно: утром, днем или ночью, из дома. на работе или в путешествиии. Учим, когда удобно именно вам</div>
                        </div>
                    </div>
                </div>
                <div class="text-img-infographic">
                    <div class="text-side">
                        <div class="title">
                            <div>3. Приступайте к занятиям</div>
                        </div>
                        <div class="info">
                            <div>Устраивайтесь поудобнее у вашего монитора и подключайтесь. Все материалы курса уже ждум вас в личном кабинете.</div>
                        </div>
                    </div>
                    <div class="img-side">
                        <img src="public/IMG/howItWorks/3.png" alt="" srcset="">
                    </div>
                </div>
            </div>
            <div class="button-big get-free-lesson" id="bottom">Бесплатный урок</div>
        </div>
        <div class="footer">

        </div>
    </div>
    <script src="/public/JS/jquery-3.4.1.js"></script>
    <script src="/public/JS/Utils.js"></script>
    <script src="/public/JS/UI/custom-window.js"></script>
    <script src="/public/JS/UI/notification-window.js"></script>
    <script src="/public/JS/quick-start.js"></script>
</body>
</html>