<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="../public/IMG/header/triangle_w_back.png" type="image/png">
    <link rel="stylesheet" href="./public/CSS/style.css">
    <link rel="stylesheet" href="./public/CSS/landing/header.css">
    <link rel="stylesheet" href="./public/CSS/UI/button.css">
    <link rel="stylesheet" href="./public/CSS/landing/main-block.css">
    <link rel="stylesheet" href="./public/CSS/landing/advantages.css">
    <link rel="stylesheet" href="./public/CSS/landing/howItWorks.css">
    <link rel="stylesheet" href="./public/CSS/landing/infographic.css">
    <link rel="stylesheet" href="./public/CSS/landing/footer.css">
    <link rel="stylesheet" href="./public/CSS/landing/about-project.css">
    <link rel="stylesheet" href="./public/CSS/landing/quick-start-window.css">
    <link rel="stylesheet" href="./public/CSS/UI/notification.css">
    <link rel="stylesheet" href="./public/CSS/UI/text-field.css">
    <link rel="stylesheet" href="./public/CSS/UI/overlay-window.css">
    <link rel="stylesheet" href="/public/CSS/UI/select.css">
    <link rel="stylesheet" href="/public/CSS/UI/text-area.css">
    <link rel="stylesheet" href="/public/CSS/UI/label.css">
    <title>chinaLang - Главная</title>
</head>
<body>
    <div class="header">
        <div class="logo">
            <img src="../public/IMG/header/chinalang_label.png" alt="" class="logo-label">
            <img src="../public/IMG/header/triangle_logo.png" alt="" class="logo-img">
        </div>
        <div class="header-controls">
            <div class="lang-selector">
                <div class="lang-text">Язык</div>
                <div class="lang-img">
                    <img src="public/IMG/header/flags/russian_flag.png" alt="" srcset="">
                </div>
                <div class="arrow-img">
                    <img src="public/IMG/header/arrow_down.png" alt="" srcset="">
                </div>
            </div>
            <div class="button-small login">Войти</div>
            <div class="button-small contacts">Контакты</div>
        </div>
    </div>
    <div class="wrapper">
        <div class="main-block-background">
            <div class="main-block">
                <div class="main-left-part">
                    <div class="main-text">Китайский язык из любого уголка земли</div>
                    <div class="main-info">Удобное обучение онлайн</div>
                    <div class="main-info">Новые современные методики</div>
                    <div class="main-info">Профессиональные учителя из России и Китая</div>
                </div>
                <div class="main-right-part">
                    <div class="button-big get-free-lesson">Бесплатный урок</div>
                </div>
            </div>
        </div>
        <div class="advantages-background">
            <div class="advantages-block">
                <a name="advantages"></a>
                <div class="info-graphic advantage">
                    <div class="info-graphic-img">
                        <img src="public/IMG/advantages/1.png" alt="" srcset="">
                    </div>
                    <div class="info-graphic-wrapper">
                        <div class="info-graphic-label">Актуальность</div>
                        <div class="info-graphic-extra">Разработанные по<br>последним тенденциям<br>программы обучения</div>
                    </div>
                </div>
                <div class="info-graphic advantage">
                    <div class="info-graphic-img">
                        <img src="public/IMG/advantages/2.png" alt="" srcset="">
                    </div>
                    <div class="info-graphic-wrapper">
                        <div class="info-graphic-label">Качество</div>
                        <div class="info-graphic-extra">Профессиональные<br>преподаватели из<br>России и Китая</div>
                    </div>
                </div>
                <div class="info-graphic advantage">
                    <div class="info-graphic-img">
                        <img src="public/IMG/advantages/3.png" alt="" srcset="">
                    </div>
                    <div class="info-graphic-wrapper">
                        <div class="info-graphic-label">Гибкость</div>
                        <div class="info-graphic-extra">Любое место и<br>время, удобное<br>именно для вас</div>
                    </div>
                </div>
                <div class="info-graphic advantage">
                    <div class="info-graphic-img">
                        <img src="public/IMG/advantages/4.png" alt="" srcset="">
                    </div>
                    <div class="info-graphic-wrapper">
                        <div class="info-graphic-label">Доступность</div>
                        <div class="info-graphic-extra">Цена за 1 занятие от<br>990 рублей</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block how-it-works">
            <h2>Как это работает?</h2>
            <div class="infographic-wrapper">
                <div class="text-img-infographic">
                    <div class="text-side">
                        <div class="title">
                            <div>1. Запишитесь на бесплатный урок</div>
                        </div>
                        <div class="info">
                            <div>Подберем индивидуальный курс,<br>соответствующий уровню знаний и вашим<br>целям. Расскажем о процессе обучения в<br>нашей школе и выберем вам преподвателя.</div>
                        </div>
                    </div>
                    <div class="img-side">
                        <img src="public/IMG/howItWorks/1.png" alt="" srcset="">
                    </div>
                </div>
                <div class="text-img-infographic">
                    <div class="img-side">
                        <img src="public/IMG/howItWorks/2.png" alt="" srcset="">
                    </div>
                    <div class="text-side">
                        <div class="title">
                            <div>2. Составьте свое расписание</div>
                        </div>
                        <div class="info">
                            <div>Выберете подходящее для вас время.<br>Неважно: утром, днем или ночью, из дома, на<br>работе или в путешествии. Учим, когда<br>удобно именно вам.</div>
                        </div>
                    </div>
                </div>
                <div class="text-img-infographic">
                    <div class="text-side">
                        <div class="title">
                            <div>3. Приступайте к занятиям</div>
                        </div>
                        <div class="info">
                            <div>Устраивайтесь поудобнее у вашего монитора<br>и подключайтесь. Все материалы курса уже<br>ждут вас в личном кабинете.</div>
                        </div>
                    </div>
                    <div class="img-side">
                        <img src="public/IMG/howItWorks/3.png" alt="" srcset="">
                    </div>
                </div>
            </div>
            <div class="button-big get-free-lesson" id="bottom">Бесплатный урок</div>
        </div>
        <div class="about-project-background">
            <div class="block about-project">
                <div class="header-wrapper">
                    <h2>Почему мы?</h2>
                </div>
                <div class="info-block">
                    <div class="left-text">
                        <div class="top">С нами вы поймете, что китайский язык проще и доступнее, чем кажется, а онлайн образование станет неотъемлемой частью вашей жизни.</div>
                        <div class="middle"> Пора забыть про скучные учебники с миллионами страниц и переключиться на современные презентации с интерактивными заданиями.</div>
                        <div class="bottom">
                            Хотите понимать китайское кино и <br>переводить популярные песни, принимать участие в тематических разговорных клубах и читать интересные статьи на китайском? Записывайтесть к нам.
                        </div>
                    </div>
                    <div class="right-text">
                        <div class="top">Наша школа предлагает:</div>
                        <div class="middle">
                            Китайский для начинающих<br>
                            Подготовка к HSK/HSKK<br>
                            Разбор ЕГЭ/ГИА<br>
                            Деловой китайский
                        </div>
                    </div>
                </div>
                <div class="button-big get-free-lesson" id="bottom">Бесплатный урок</div>
            </div>
        </div>
        <div class="footer-background">
            <div class="footer">
                <div class="top">
                    <div class="logo" onclick="location.href=location.origin">
                        <img src="../public/IMG/header/chinalang_label.png"  alt="" class="logo-label">
                        <img src="../public/IMG/header/triangle_logo.png"  alt="" class="logo-img">
                    </div>
                    <div class="social-networks">
                        <div class="text">Социальные сети</div>
                        <div class="wrapper">
                            <a href="https://www.facebook.com/chinalangofficial/" target="_blank" class="facebook-link" alt="facebook"></a>
                            <a href="https://instagram.com/chinalang_ru?igshid=r671qs2e180j" target="_blank" class="instagram-link" alt="instagram"></a>
                            <a href="https://vk.com/chinalang_ru" target="_blank" class="vk-link" alt="vk"></a>
                            <a href="https://www.pinterest.ru/chinalang/" target="_blank" class="printerest-link" alt="printerest"></a>
                            <a href="t.me/chinalang_ru" class="telegram-link" alt="telegram"></a>
                        </div>
                    </div>
                </div>
                <div class="middle">
                    <a href="#advantages">О школе</a>
                    <a class="contacts">Связаться с нами</a>
                    <a class="get-free-lesson">Записаться на бесплатный урок</a>
                    <div>© Chinalang 2020</div>
                </div>
            </div>
        </div>
    </div>
    <script src="/public/JS/jquery-3.4.1.js"></script>
    <script src="/public/JS/authController.js"></script>
    <script src="/public/JS/Utils.js"></script>
    <script src="/public/JS/UI/custom-window.js"></script>
    <script src="/public/JS/UI/data-windows.js"></script>
    <script src="/public/JS/UI/notification-window.js"></script>
    <script src="/public/JS/Event.js"></script>
    <script src="/public/JS/request.js"></script>
    <script src="/public/JS/header.js"></script>
    <script src="/public/JS/quick-start.js"></script>
</body>
</html>