.advantages-block {
    word-break: break-word;
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    background: #F1F1F1;
    padding: 15px;
    padding-top: calc(110px - 85px);
}

.advantages-block > div {
    float: left;
}

.info-graphic {
    width: 100%;
    box-sizing: border-box;
    padding: 2px;
}

.info-graphic-img {
    width: 50%;
    margin: 0 auto;
}

.info-graphic-img > img {
    box-sizing: border-box;
    width: 100%;
}

.info-graphic-label, .info-graphic-extra {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #24466B;
}

.info-graphic-label {
    margin-bottom: 5px;
}

.info-graphic-extra {
    vertical-align: text-top;
    color: #7D7D7D;
    text-align: center;
    font-size: 16px;
    font-weight: inherit;
    line-height: 17px;
}

.advantage {
    width: 25%;
}

@media (max-width: 700px) {
    .advantage {
        width: 50%;
    }
}