.header-wrapper {
    /* overflow: hidden; */
    position: absolute;
    height: 50px;
    width: 100%;
    background: #f1f1f1;
    padding: 5px 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    /* background: #529AE4; */
}

.header-wrapper > .menu-button {
    line-height: 40px;
    display: none;
    float: left;
    height: 40px;
    width: 40px;
    padding: 0;
    background: white;
    color: #529AE4;
    transition-property: background color;
    transition-duration:  200ms;
    transition-timing-function: ease;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header-wrapper > .strip-logo {
    float: left;
    width: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background: unset;
}

.header-wrapper > .menu-button:hover {
    background: #24466B;
    color: white;
}

.header-wrapper > .chinalang-link > .chinalang-logo-wrapper {
    height: 50px;
    display: flex;
}

.header-wrapper > .chinalang-link >.chinalang-logo-wrapper > div {
    height: 100%;
    width: initial;
    background: none;
}

.header-wrapper > .header-controls > .user-menu {
    float: right;
    height: 40px;
    border-radius: 10px;
}

.header-wrapper > .header-controls > .user-menu > .dropdown-text-wrapper > .dropdown-text {
    color: #529AE4;
    line-height: 40px;
}

.header-wrapper > .header-controls > div {
    margin-right: 5px;
}

.header-wrapper > .header-controls > div:last-child {
    margin-right: 0px;
}

.header-wrapper > .header-controls > .user-menu:hover {
    background: #529AE4;
}

.header-wrapper > .header-controls > .user-menu:hover > .dropdown-text-wrapper > .dropdown-text {
    color: white;
}

.header-wrapper > .header-controls {
    display: flex;
    width: fit-content;
    float: right;
    height: 100%;
}

.header-wrapper > .header-controls > .contacts {
    height: min-content;
    display: block;
    padding: 5px 10px;
    font-size: 15px;
    background: #7D7D7D;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.user-menu-background {
    background: rgba(30, 30, 30, 0);
}

.overlay-window.user-menu {
    background: #F1F1F1;
    /* background: grey; */
    width: 200px;
    position: absolute;
    left: unset;
    right: 5px;
    top: calc(50px + 5px);
    transform: none;
}

.overlay-window.user-menu > div > div {
    padding: 5px 8px;
    margin-bottom: 5px;
    width: unset;
    font-size: 18px;
    background: gray;
    opacity: 0.7;
    transition: opacity 200ms ease;
}

.overlay-window.user-menu > div > div:hover {
    opacity: 1;
}

.overlay-window.user-menu > div > div:last-child {
    margin-bottom: 0;
}

.user-profile-label {
    text-align: left;
    margin-left: 5px;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 26px;
}

.user-profile-tables {
    overflow: hidden;
}

.user-profile-tables > div {
    float: left;
}

.user-data-fields {
    width: 60%;
}

.user-photo-field {
    width: 40%;
}

.photo-label {
    font-size: 16px;
    text-align: left;
}

.photo-field {
    margin-bottom: 5px;
}

.user-profile-tables > div:first-child {
    box-sizing: border-box;
    padding-right: 5px;
}

.button-big.change-photo, .delete-photo {
    padding: 5px 8px;
    font-size: 18px;
    width: 100%;
    background: gray;
    opacity: 0.7;
    transition: opacity 200ms ease;
}

.button-big.change-photo:hover, .delete-photo:hover {
    opacity: 1;
    background: gray;
}

.user-photo-field-data-wrapper > .change-photo {
    margin-bottom: 5px;
}

.submit-user-data {
    margin: 0 auto;
}

.header-wrapper > .classes-left {
    float: right;
    padding: 5px 8px;
    font-size: 16px;
    transform: translateY(-50%);
    position: relative;
    top: 50%;
}

.contact-fields .message-type-label {
    text-align: left;
    padding-left: 5px;
    font-size: 16px;
    margin-bottom: 0;
}

.message-type {
    margin-bottom: 5px;
}

@media (max-width: 768px) {
    .header-wrapper > .menu-button {
        display: block;
    }
    
    .header-wrapper > .chinalang-link > .chinalang-logo-wrapper {
        height: 40px;
        display: none;
    }
}

@media (min-width: 768px) {  
    .header-wrapper > .chinalang-link > .chinalang-logo-wrapper {
        height: 40px;
    }
}

@media (min-width: 1000px) {
    .header-wrapper {
        position: relative;
        width: 1000px;
        margin: 0 auto;
        height: 70px;
        padding: 10px 10px;
    }

    .header-wrapper > .chinalang-link > .chinalang-logo-wrapper {
        height: 50px;
    }

    .header-wrapper > .chinalang-logo {
        min-height: 100%;
    }

    .header-wrapper > .header-controls > .user-menu {
        height: 100%;
    }

    .header-wrapper > .header-controls > .contacts {
        padding: 10px 15px;
        font-size: 18px;
    }

    .overlay-window.user-menu {
        left: calc(50% + 266px);
        top: 70px;
        padding: 10px;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }
}