* {
    padding: 0px;
    margin: 0px;
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.wrapper {
    width: 768px;
    /* margin-top: 50px; */
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 768px) {
    .wrapper {
        width: 100%;
    }
}

