.overlay-window {
    height: unset;
    min-height: unset;
    max-height: unset;
}

.courses-search {
    background: white;
    width: calc(100% - 49px);
    float: left;
    border-radius: 5px;
}

.add-new-course {
    width: 44px;
    height: 44px;
    padding: 0;
    float: left;
    margin-right: 5px;
    font-weight: bold;
    line-height: 44px;
    background: #3cb371;
}

.data-wrapper > .objects-wrapper > div > .icon-wrapper {
    display: none;
}

.data-wrapper > .objects-wrapper > .data > .subscribe {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    line-height: 19px;
    float: right;
    padding: 6px;
    font-size: 22px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    transition: none;
    font-weight: bold;
    background: #FB2267;
}

.data-wrapper > .data > .subscribe {
    width: 30px;
    height: 30px;
    line-height: 18px;
    float: right;
    padding: 6px;
    font-size: 22px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    transition: none;
    font-weight: bold;
    transition: none;
    background: #FB2267;
}

.data-wrapper > .data > .subscribe {
    width: 30px;
    height: 30px;
    line-height: 18px;
    float: right;
    padding: 6px;
    font-size: 22px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    transition: none;
    font-weight: bold;
    transition: none;
}

.data-wrapper > .objects-wrapper > .data > .add-new-class {
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    line-height: 19px;
    /* float: right; */
    margin-right: 10px;
    padding: 6px;
    font-size: 22px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    transition: none;
    font-weight: bold;
    transition: none;
    background: #3cb371;
}

.classes-table {
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

.classes-table > .classes-table-data-wrapper {
    padding-top: 0;
}

.classes-table > .classes-table-data-wrapper >  div {
    background: #a9a9a9;
}

.classes-table-data-wrapper >  div > .icon-wrapper {
    display: none;
}

.classes-table-data-wrapper > div > .text {
    text-overflow: ellipsis;
}

.submit-course, .submit-class {
    margin: 0 auto;
}

.inputs > .course-window-label {
    text-align: left;
    margin-left: 5px;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 26px;
}

/*  */

/* .text-field-controls {
} */

.text-field-controls > div {
    font-size: 18px;
    padding: 5px 8px;
    background: #3cb371;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    float: left;
    margin-right: 1px;
}

.text-field-controls > div:last-child {
    margin-right: 0;
}

.lesson-description > textarea[type="text"] {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    max-height: 280px;
}

.files-search > input {
    background: #F1F1F1;
}

.files-table > .files-table-data-wrapper > .data-strip {
    transition: none;
    background: grey;
}

.files-table-data-wrapper > div > .icon-wrapper {
    display: none;
}

.files-table-data-wrapper > div > .add-file {
    float: right;
    font-size: 18px;
    padding: 8px 10px;
    position: relative;
    transform: translateY(-50%);
    top: 50%;
    right: 5px;
    /* transition: none; */
    background: #3cb371;
}

.files-table-data-wrapper > div > .add-file:hover {
    background: #24466B;
}

.files-table-controls-wrapper > .files-label {
    font-weight: bold;
    font-size: 20px;
}

.inputs > div > textarea {
    height: 310px;
}

.courses-table-controls-wrapper > .courses-label {
    text-align: left;
    margin-left: 5px;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 26px;
}

@media (max-width: 1000px) {
    .files-table-data-wrapper > div > .add-file {
        padding: 3px 10px;
    }
}

@media (min-width: 1000px) {
    .data.user.data-strip > div.button-big {
        width: 40px;
        height: 40px;
        line-height: 27px;
    }

    .data.user.data-strip > div.button-big.add-file {
        width: unset;
        padding: 6px 10px;
    }
}