.overlay-window {
    height: unset;
    min-height: unset;
}

.courses-search {
    background: white;
    width: calc(100% - 35px);
    float: left;
    border-radius: 5px;
}

.add-new-course {
    width: 30px;
    height: 30px;
    padding: 0;
    float: left;
    margin-right: 5px;
    font-weight: bold;
    line-height: 30px;
    background: #3cb371;
}

.data-wrapper > .objects-wrapper > div > .icon-wrapper {
    display: none;
}

.data-wrapper > .objects-wrapper > .data > .subscribe {
    width: 30px;
    height: 30px;
    line-height: 18px;
    float: right;
    margin-right: 10px;
    padding: 6px;
    font-size: 22px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    transition: none;
    font-weight: bold;
    background: #FB2267;
}

.data-wrapper > .data > .subscribe {
    width: 30px;
    height: 30px;
    line-height: 18px;
    float: right;
    margin-right: 10px;
    padding: 6px;
    font-size: 22px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    transition: none;
    font-weight: bold;
    transition: none;
    background: #FB2267;
}

.data-wrapper > .data > .subscribe {
    width: 30px;
    height: 30px;
    line-height: 18px;
    float: right;
    margin-right: 10px;
    padding: 6px;
    font-size: 22px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    transition: none;
    font-weight: bold;
    transition: none;
}

.data-wrapper > .objects-wrapper > .data > .add-new-class {
    width: 30px;
    height: 30px;
    line-height: 18px;
    /* float: right; */
    margin-right: 10px;
    padding: 6px;
    font-size: 22px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    transition: none;
    font-weight: bold;
    transition: none;
    background: #3cb371;
}

.classes-table {
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

.classes-table > .classes-table-data-wrapper {
    padding-top: 0;
}

.classes-table > .classes-table-data-wrapper >  div {
    background: #a9a9a9;
}

.classes-table-data-wrapper >  div > .icon-wrapper {
    display: none;
}

.classes-table-data-wrapper > div > .text {
    text-overflow: ellipsis;
}

.submit-course, .submit-class {
    margin: 0 auto;
}

.inputs > .course-window-label {
    font-weight: bold;
    font-size: 20px;
}