* {
    padding: 0px;
    margin: 0px;
    font-family: 'Calibri', 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.data-window > .data-wrapper {
    height: calc(100% - 90px);
}

body {
    zoom: 1.25;
    background: #f1f1f1;
}

.overlay-window {
    zoom: 0.8;
}

.wrapper {
    width: 100%;
    top: 50px;
    /* position: relative;
    height: calc(100vh - 50px); */
    position: absolute;
    height: calc(100% - 50px);
}

.wrapper > div {
    height: 100%;
    box-sizing: border-box;
    /* padding-top: 20px;
    padding-bottom: 20px; */
}

.controls {
    overflow: auto;
    box-sizing: border-box;
    float: left;
    width: 250px;
    /* background: #529AE4; */
    /* background: #f1f1f1; */
    padding: 10px;
    padding-top: 0px;
    left: 0px;
}

.controls > .strip-logo {
    background: white;
    padding: 5px;
    margin-bottom: 10px;
}

.menu-strip {
    height: 100%;
    padding: 15px;
    background: #529AE4;
    border-radius: 10px;
    box-sizing: border-box;
}

.menu-strip.classes-data > .buy-classes {
    box-sizing: border-box;
    width: fit-content;
    padding: 5px 8px;
    background: #3cb371;
    margin: 0 auto;
    border-radius: 7px;
    color: white;
    cursor: pointer;
    transition: background 200ms ease;
    font-size: 16px;
    text-align: center;
}

.menu-strip.classes-data > .strip-button {
    min-height: 30px;
}

.menu-strip.classes-data > .strip-button > .text {
    padding-left: 10px;
    font-size: 16px;
}

.window {
    overflow: hidden;
    /* background: #F1F1F1; */
    padding: 10px;
    padding-top: 0px;
}

.content-window {
    height: 100%;
    /* width: 50%; */
    background: white;
    border-radius: 10px;
    box-sizing: border-box;
    max-width: 500px;
    height: 100%;
    margin: 0 auto;
    padding: 15px;
    /* background: #F1F1F1; */
}

div.window-label {
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 24px;
    color: #646464;
}

@media (max-width: 768px) {
    .controls {
        position: absolute;
        z-index: 1;
        left: -250px;
        zoom: 1.2;
    }

    body {
        zoom: 1;
    }

    .logo-wrapper {
        display: flex;
    }

    /* .overlay-window {
        zoom: 1;
    } */
}

@media (min-width: 768px) {
    div.logo-wrapper {
        display: none;
    }
}

@media (min-width: 1000px) {
    body {
        zoom: 1;
    }

    div.logo-wrapper {
        display: none;
    }

    .wrapper {
        width: 1000px;
        left: 50%;
        transform: translateX(-50%);
        top: 70px;
        height: calc(100% - 70px);
    }

    .wrapper > .controls {
        padding: 0px 0px 10px 10px;
        width: 35%;
    }
    
    .wrapper > .window {
        padding-left: 15px;
    }

    .wrapper > .window > .content-window {
        width: unset;
        max-width: unset;
    }

    .overlay-window {
        zoom: 1;
    }
}