.overlay-window {
    height: unset;
    min-height: unset;
}

.submit {
    margin-top: 10px;
}

.add-new-user {
    width: 30px;
    height: 30px;
    padding: 0;
    float: left;
    margin-right: 5px;
    font-weight: bold;
    line-height: 30px;
}

.users-search {
    width: calc(100% - 35px);
    float: left;
}

.courses {
    height: 40px;
    background: #529AE4;
}

.courses > .icon-wrapper {
    display: none;
}

.courses-search > input {
    background: #F1F1F1;
}

.data-wrapper > .objects-wrapper > .data > .subscribe {
    float: right;
    margin-right: 10px;
    padding: 6px;
    font-size: 18px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    transition: none;
}

/* .data-wrapper > .objects-wrapper > .data > .subscribe:hover {
    background: none;
} */

.courses-table {
    height: calc(100% - 70px);
    margin-bottom: 20px;
}

.courses-table > .data-wrapper {
    margin-top: 10px;
    padding-top: 0px;
}

.data-wrapper > .objects-wrapper > .classes-table {
    display: none;
}

.data-wrapper > .objects-wrapper > div > .icon-wrapper {
    display: none;
}

.data-wrapper > div > .text {
    text-overflow: ellipsis;
}

.submit-courses {
    margin: 0 auto;
}

.data-wrapper > .data > .subscribe {
    float: right;
    margin-right: 10px;
    padding: 6px;
    font-size: 18px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 5px;
    transition: none;
    /* background: #3cb371; */
}

.classes-table {
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

.classes-table > .classes-table-data-wrapper {
    padding-top: 0;
}

.classes-table > .classes-table-data-wrapper >  div {
    background: #a9a9a9;
}

.classes-table-data-wrapper >  div > .icon-wrapper {
    display: none;
}

.classes-table-data-wrapper > div > .text {
    text-overflow: ellipsis;
}