<link rel="stylesheet" href="../../public/CSS/UI/menu-strip.css">

<div class="menu-strip">
    <div class="strip-image">
        <img src="../../public/IMG/header/chinalang.png" alt="" srcset="">
    </div>
    <div class="strip-button users-tab">
        <div class="icon">
            <img src="../../public/IMG/dashboard/users.png" alt="" srcset="">
        </div>
        <div class="text">Пользователи</div>
    </div>
    <div class="strip-button courses-tab">
        <div class="icon">
            <img src="../../public/IMG/dashboard/course.png" alt="" srcset="">
        </div>
        <div class="text">Курсы</div>
    </div>
    <div class="strip-button files-tab">
        <div class="icon">
            <img src="../../public/IMG/dashboard/files.png" alt="" srcset="">
        </div>
        <div class="text">Файлы</div>
    </div>
    <div class="strip-button blog-tab">
        <div class="icon">
            <img src="../../public/IMG/dashboard/blog.png" alt="" srcset="">
        </div>
        <div class="text">Блог</div>
    </div>
    <div class="strip-button history-tab">
        <div class="icon">
            <img src="../../public/IMG/dashboard/history.png" alt="" srcset="">
        </div>
        <div class="text">История занятий</div>
    </div>
</div>
<script src="../../public/JS/menu-strip-controls.js"></script>