.advantages-background {
    width: 100%;
    background: #f1f1f1;
}

.advantages-block {
    word-break: break-word;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 100%;
    background: #F1F1F1;
    padding: 15px;
    margin: 0 auto;
    /* padding-top: calc(110px - 85px); */
}

.advantages-block > div {
    float: left;
}

.info-graphic {
    width: 100%;
    box-sizing: border-box;
    padding: 2px;
}

.info-graphic-wrapper {
    transform: translateY(-20px);
}

.info-graphic-img {
    width: 80%;
    margin: 0 auto;
}

.info-graphic-img > img {
    box-sizing: border-box;
    width: 100%;
}

.info-graphic-label, .info-graphic-extra {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #24466B;
}

.info-graphic-label {
    margin-bottom: 10px;
}

.info-graphic-extra {
    vertical-align: text-top;
    color: #7D7D7D;
    text-align: center;
    font-size: 16px;
    font-weight: inherit;
    line-height: 17px;
}

.advantages-block > .info-graphic:nth-child(n+3) .info-graphic-extra {
    box-sizing: border-box;
    /* padding: 0px 28px; */
}

/* .info-graphic-wrapper > div.info-graphic-extra:nth-child(n+3) {
    box-sizing: border-box;
    padding: 0px 18px;
} */

.advantage {
    width: 25%;
}

@media (max-width: 768px) {
    .advantage {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .advantages-block {
        width: 768px;
    }
}

@media (min-width: 1280px) {
    .advantages-block {
        height: 370px;
        width: 1280px;
        padding: unset;
        padding-bottom: 15px;
        padding-left: 42px;
        padding-right: 42px;
    }

    .info-graphic-label {
        font-size: 37px;
    }

    .info-graphic-extra {
        font-size: 27px;
        line-height: unset;
    }

    .info-graphic-img {
        width: 62%;
    }
}