.header {
    /* position: fixed; */
    position: relative;
    width: 768px;
    height: 50px;
    background: white;
    left: 50%;
    transform: translateX(-50%);
    top: 0px;
    z-index: 1;
}

.logo, .lang-selector {
    float: left;
    height: 100%;
}

.logo {
    /* opacity: 0.7; */
    margin-left: 10px;
    cursor: pointer;
    transition: opacity 200ms ease;
    /* width: 25%; */
}

/* .logo:hover {
    opacity: 1;
} */

/* .logo > div {
    float: left;
}

.logo-text {
    height: 100%;
    width: 80%;
}

.logo-text > div {
    float: left;
    /* width: 50%;
    height: 100%;
    line-height: 50px;
    color: #24466B;
    font-size: 30px;
    font-weight: bold;
    margin: 0 auto;
}

.logo-text > .logo-left-part {
    text-align: right;
    color:#529AE4;
}

.logo-image {
    width: 20%;
} */

.logo > img {
    position: relative;
    height: 65%;
    float: left;
    transform: translateY(-50%);
    top: 50%;
}

.header-controls {
    height: 100%;
    float: right;
    margin-right: 10px;
}

.header-controls > div {
    position: relative;
    float: left;
    margin-right: 10px;
}

.lang-selector {
    display: none;
    box-sizing: border-box;
    padding-left: 5px;
    padding-right: 5px;
    /* margin-right: 5px; */
    cursor: pointer;
    transition: background 200ms ease;
}

.lang-selector:hover {
    background: #529AE4;
}

.lang-selector:hover > .lang-text {
    color: white;
}

.lang-selector:hover > .lang-img > img {
    border: 1px solid white;
}  

.lang-selector > div {
    float: left;
    height: 100%;
}

.lang-text {
    line-height: 50px;
    color: #529AE4;
    font-size: 15px;
    font-weight: bold;
    margin-right: 5px;
    transition: color 200ms ease;
}

.lang-img {
    margin-right: 2px;
}

.lang-img > img {
    box-sizing: border-box;
    height: 50%;
    border: 1px solid #529AE4;
    border-radius: 20px;
    margin-top: calc(25px - 12.5px);
    transition: border 200ms ease;
}

.arrow-img {
    height: 100%;
}

.arrow-img > img {
    height: 25%;
    margin-top: calc(25px - 6.25px);
}

.login, .contacts {
    top: 50%;
    transform: translateY(-50%);
    /* margin-top: calc(25px - 16px);
    margin-right: 5px; */
}

.button-small:last-child {
    margin-right: 0px;
    background: #7D7D7D;
}

@media (max-width: 768px) {
    .header {
        width: 100%;
    }

    .logo > .logo-label {
        display: none;
    }
}

/* @media (min-width: 768px) {
    .header {
        width: 100%;
    }

    .logo > .logo-label {
        display: none;
    }
} */

@media (min-width: 1280px) {
    .header-controls > div {
        text-align: center;
        width: 145px;
        padding: 14px 0;
        border-radius: 10px;
        font-size: 26px;
    }

    .logo {
        padding: 11px 0px;
        box-sizing: border-box;
    }
}