.how-it-works {
    width: 100%;
    height: 100%;
    padding-top: 47px;
}

.how-it-works > h2 {
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #24466B;
}

#bottom {
    margin-top: 0px;
    margin-bottom: 56px;
}

@media (min-width: 1280px) {
    .how-it-works > h2 {
        font-size: 52px;
    }
}