.main-block-background {
    background: #529AE4;
}

.main-block {
    box-sizing: border-box;
    overflow: hidden;
    /* min-height: 300px; */
    margin: 0 auto;
    height: 300px;
    width: 100%;
    background: #529AE4;
    padding-top: 30px;
    padding-left: 20px;
    background-image: url('../../IMG/header/background_cropped.png');
    background-size: cover;
    background-position: bottom;
}

.main-block > div {
    float: left;
}

.main-left-part {
    /* padding-left: 10px;
    padding-right: 10px; */
    box-sizing: border-box;
    width: 65%;
    /* height: 100%; */
}

.main-left-part > div {
    color: white;
}

.main-text {
    font-weight: bold;
    font-size: 35px;
    margin-bottom: 30px;
    letter-spacing: 0.3px;
}

.main-info {
    font-size: 20px;
}

.main-right-part {
    width: 35%;
    height: 100%;
}

.get-free-lesson {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    width: max-content;
    /* margin-top: calc(150px - 50px); */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@media (max-width: 768px) {
    .main-block {
        min-height: initial;
        height: unset;
    }

    .main-block > div {
        float: none;
        width: 100%;
    }

    .get-free-lesson {
        margin-top: 0;
    }

    .main-left-part {
        margin-bottom: 20px;
    }

    .main-right-part {
        margin-bottom: 20px;
    }

    .main-right-part > .get-free-lesson {
        top: unset;
        transform: unset;
    }
}

@media (min-width: 768px) {
    .main-block {
        width: 768px;
    }
    .main-right-part > .get-free-lesson {
        transform: translateY(-120%);
    }
}

@media (min-width: 1280px) {
    .main-block {
        height: 476px;
        width: 1280px;
    }

    .main-right-part > .get-free-lesson {
        font-size: 34px;
        padding: 19px 54px;
        border-radius: 10px;
        position: relative;
        top: calc(50% - 65px);
        transform: translate(-24px, -50%);
    }

    .get-free-lesson {
        width: 380px;
        font-size: 34px;
        padding: 19px 54px;
        border-radius: 10px;
        position: relative;
        top: calc(50% - 65px);
        transform: translate(-24px, -50%);
    }

    .main-text {
        font-size: 65px;
        margin-bottom: 54px;
    }

    .main-info {
        font-size: 30px;
    }
}