.wrapper, .header {
    /* width: 100%; */
    /* width: 1280px; */
}

.quick-start-window {
    position: absolute;
    height: 1px;
    min-height: 320px;
}

.quick-start-window > .info, .inputs {
    position: relative;
    width: 50%;
    float: left;
    height: 100%;
}

.quick-start-window > .info {
    box-sizing: border-box;
    padding-right: 10px;
}

.quick-start-window > .info > .text {
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    bottom: 0;
    height: fit-content;
    transform: translateY(-50%);
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #24466B;
    word-break: break-word;
}

.submit {
    margin-top: 15px;
}

/*  */

.login-window-label {
    font-weight: bold;
    font-size: 26px;
    /* text-align: center; */
    margin-left: 5px;
    margin-bottom: 30px;
}

.login-window-background .login-window {
    height: unset;
    min-height: unset;
    width: 300px;
}

.login-window > .inputs {
    width: 100%;
}

.login-submit {
    margin: 0 auto;
}

@media (min-width: 1280px) {
    .wrapper, .header {
        width: 1280px;
    }

    .header {
        height: 110px;
        padding: 0px 17px;
        box-sizing: border-box;
    }
}

@media (max-width: 700px) {
    .quick-start-window {
        width: 90%;
    }
}