.data-window {
    height: 100%;
}

.data-window > .data-list {
    width: 100%;
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
}

.data-window > .data-wrapper {
    overflow: auto;
    box-sizing: border-box;
    width: 100%;
    height: calc(100% - 62px);
    padding-top: 10px;
}

.data-wrapper > .data {
    box-sizing: border-box;
    height: 50px;
    background: gray;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: background 200ms ease;
    padding-left: 10px;
    cursor: pointer;
}

.data-wrapper > .data > div {
    float: left;
}

.data-wrapper > .data:hover {
    background: #24466B;
}

.data-wrapper > .data > .icon-wrapper {
    height: 100%;
    box-sizing: border-box;
    padding: 5px;
}

.data-wrapper > .data > .icon-wrapper > .icon {
    height: 100%;
    background: white;
    border-radius: 40px;
    padding: 5px;
    box-sizing: border-box;
}


.data-wrapper > .data > .icon-wrapper > .icon > img {
    height: 100%;
}

.data-wrapper > .data > .text {
    color: white;
    font-size: 18px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}