.dropdown {
    overflow: hidden;
    box-sizing: border-box;
    padding: 0px 10px;
    /* margin-right: 5px; */
    cursor: pointer;
    transition: background 200ms ease;
    height: 50px;
    width: fit-content;
}

.dropdown:hover {
    background: #24466B;
}

.dropdown:hover > .dropdown-text {
    /* line-height: 40px; */
}

.dropdown:hover > .dropdown-img > img {
    border: 1px solid white;
}  

.dropdown > div {
    float: left;
    height: 100%;
    padding: 5px 0px;
    box-sizing: border-box;
}

/* .dropdown > .dropdown-img-wrapper > div {
    float: left;
    height: 100%;
} */

.dropdown > .dropdown-img-wrapper > .arrow-img {
    float: left;
    height: 100%;
    width: 10px;
}

.dropdown-text {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    /* line-height: 50px; */
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
    transition: color 200ms ease;
}

.dropdown > .dropdown-img-wrapper > .dropdown-img {
    /* margin-right: 2px; */
    float: left;
    position: relative;
    height: 30px;
    width: 30px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 30px;
    overflow: hidden;
    padding: 0px;
    box-sizing: border-box;
    background: white;
}

.dropdown-img > img {
    /* box-sizing: border-box;
    height: 50%;
    border: 1px solid #529AE4;
    border-radius: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: border 200ms ease; */
    
    box-sizing: border-box;
    height: 100%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: border 200ms ease;
}

.arrow-img {
    height: 100%;
}

.arrow-img > img {
    position: relative;
    width: 100%;
    top: 50%;
    transform: translateY(-75%);
}