.label {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18px;
}

.header {
    font-weight: bold;
    font-size: 22px;
    text-align: center;
}

.input-label {
    box-sizing: border-box;
    padding-left: 5px;
    display: block;
    width: 100%;
    text-align: left;
    font-size: 16px;
}

.gray {
    color: #606761;
}