<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Личный кабинет</title>
    <link rel="stylesheet" href="/public/CSS/dashboard.css">
    <link rel="stylesheet" href="/public/CSS/users-window.css">

</head>
<body>
    <div class="wrapper">
        <div class="controls">
            <%- include('../../blocks/admin-menu-strip.ejs') %>
        </div>
        <div class="window">
            <div class="content-window">
                <!--  -->
                <!-- <div class="users-window">
                    <div class="users-list">Список пользователей</div>
                    <div class="search-line">
                        <input type="text" name="" id="" placeholder="Поиск">
                    </div>
                    <div class="users-wrapper">
                        <div class="user">
                            <div class="icon-wrapper">
                                    <div class="icon">
                                        <img src="../../../public/IMG/dashboard/default_user.png" alt="" srcset="">
                                    </div>
                            </div>
                            <div class="text">#username</div> 
                        </div>
                        <div class="user">
                            <div class="icon-wrapper">
                                    <div class="icon">
                                        <img src="../../../public/IMG/dashboard/default_user.png" alt="" srcset="">
                                    </div>
                            </div>
                            <div class="text">#username</div> 
                        </div>
                    </div>
                </div> -->
                <!--  -->
            </div>
        </div>
    </div>
    <script src="../../../public/JS/Utils.js"></script>
    <script src="../../../public/JS/UI/custom-window.js"></script>
    <script src="../../../public/JS/UI/notification-window.js"></script>
    <script src="../../../public/JS/UI/users-window.js"></script>
    <script src="../../../public/JS/users-data.js"></script>
</body>
</html>